div.RemoteVideos {
  margin-left: 20px;
  padding: 20px;
  height: 640px;
  width: 640px;
}
div.LocalVideo {
  outline-style: solid;
  position: absolute;
  bottom: 60px;
  left: 100px;
  height: 180px;
  width: 180px;
}
